# This variable is automatically populated by heroku:
# https://devcenter.heroku.com/articles/runtime-principles#web-servers
# Locally you can override to whatever port you want, of course!
PORT=12345

# See https://devcenter.heroku.com/changelog-items/438, this env var will be populated automatically when running on Heroku
DATABASE_URL="postgres://{user}:{password}@{hostname}:{port}/{database-name}"

# Base host for Turnkey's public API
TURNKEY_API_HOST="coordinator-beta.turnkey.io"

# Generate an API key with `turnkey gen --name $SOME_NAME`. Then look at the private key file.
TURNKEY_API_PRIVATE_KEY="YOUR_API_PRIVATE_KEY"

# Turnkey Organization ID. Create one by signing up at www.turnkey.io
TURNKEY_ORGANIZATION_ID="YOUR_ORGANIZATION_ID"