@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #f5f5f5;
}

/*
Font families defined by this CSS: "Favorit"

Use like this in your CSS:

  :root { font-family: 'Favorit', serif; }
*/
@font-face {
  font-family: "Favorit";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/favorit/Favorit-Light.woff")
    format("woff");
}
@font-face {
  font-family: "Favorit";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/favorit/Favorit-Light.otf")
    format("otf");
}
@font-face {
  font-family: "Favorit";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/favorit/Favorit-Light.ttf")
    format("ttf");
}

@font-face {
  font-family: "Favorit";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/favorit/FavoritPro-Regular.woff")
    format("woff");
}
@font-face {
  font-family: "Favorit";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/favorit/FavoritPro-Regular.otf")
    format("otf");
}
@font-face {
  font-family: "Favorit";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/favorit/FavoritPro-Regular.ttf")
    format("ttf");
}

.favorit {
  font-family: "Favorit", 'Times New Roman', Times, serif;
}

.gradient-orange {
  position: absolute;
  bottom: -50%;
  right: 0%;
  width: 80%;
  height: 100%;

  background: linear-gradient(
    180deg,
    rgba(191, 125, 41, 0.27) 0%,
    #f6eddf 117.67%
  );
  filter: blur(160px);
  animation: pulsate-orange 2s alternate infinite ease-in-out;
}

.gradient-blue {
  position: absolute;
  top: 10%;
  right: -20%;
  width: 78%;
  height: 87%;

  background: linear-gradient(180deg, #4c48ff 0%, #eae7e9 100%);
  filter: blur(180px);

  animation: pulsate-blue 3s alternate infinite ease-in-out;
}

@keyframes pulsate-orange {
  100% {
    box-shadow: inset 21px 2px 70.0749px #f6eddf;
    filter: blur(210px);
  }
}

@keyframes pulsate-blue {
  100% {
    box-shadow: inset 21px 2px 70.0749px #eae7e9;
    filter: blur(280px);
  }
}