<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/wallet"><span class="glyphicon glyphicon-btc"></span> Your Wallet</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {{if .loggedIn}}
        <li class="navbar-right">
          <form class="logout .form-inline" action="/logout" method="post">
            <button type="submit" onclick="javascript:confirm('Sure you want to log out?')"><span class="glyphicon glyphicon-user"></span> Logged in as {{.username}}</button>
          </form>
        </li>
      {{else}}
        <li class="navbar-right">
          <a href="/login"><span class="glyphicon glyphicon-user"></span> Log In</a>
        </li>
      {{end}}

    </ul>
  </div>
</nav>
