<html>
  {{template "header.tmpl.html" .}}
<body>
  {{template "nav.tmpl.html" .}}
  
  <div class="container auth-form-container">
    <form class="auth-form passkeys-supported hidden" action="/signup" method="post">
      <img class="mb-4" src="/static/piggybank-logo.png" alt="" width="72" height="72" style="display: block; margin: auto">
      <h1 class="h3 mb-3 font-weight-normal">Create your Piggybank account!</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
      <button class="btn btn-lg btn-primary btn-block passkey-registration" type="submit">Create a new passkey</button>
      <h5>Already have an account? <a href="/login">Log in</a> instead.</h5>
    </form>
    <p class="passkeys-unsupported">
      Sorry, your browser doesn't support passkeys yet!
    </p>
  </div>
  <script type="text/javascript" src="/static/passkeys.js"></script>

</body>
</html>
